.box {
    background-color: #333;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    color: aliceblue;
}

.box h3 {
    margin: 10px 0;
}

.box button {
    padding: 8px 25px;
    border: 0;
    background-color: rgb(91, 40, 167);
    color: aliceblue;
    margin-top: 10px;
}